*{

list-style: none;
text-decoration: none;
font-family: monospace;
color: black;
}

body{
margin: 0;
}

.container{
width: 910px;
margin:0 auto;
background-color: white;

}
.div_upper{
	float: left;
width: 910px;
height:20px;
background-color: green;
}
.div_first{
float:right;
background-color: white;
}
.div_first a{
padding: 5px;
font-size:12px;
}
.div_sec{

	width: 910px;
	height: 200px;
	background-color: orange;
	float: left;
}